.slide {
    height: 100px;
    width: 100px;
}



.slide-one .slide-image-wrapper img {
    background-color: transparent;
}

/*.slide-one .slide-image-wrapper img {*/
    /*background-color: red;*/
/*}*/

/*.slide-two .slide-image-wrapper img {*/
    /*background-color: blue;*/
/*}*/

/*.slide-three .slide-image-wrapper img {*/
    /*background-color: green;*/
/*}*/

/*.slide-four .slide-image-wrapper img {*/
    /*background-color: orange;*/
/*}*/

/*.slide-five .slide-image-wrapper img {*/
    /*background-color: yellow;*/
/*}*/

.carousel {
    position: relative;
    left: -20px;
    width: 100vw;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
img,
iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    height: auto;
}
.button-container {
    position: absolute;
    top: calc(29% - 10px);
    width: 100%;
    height: 0px;
    z-index: 1;
}
button {
    display: block;
}

.prev,
.next {
    border: none;
    background: transparent;
}

.prev:focus,
.next:focus {
    outline: none;
}

.prev {
    position: absolute;
    right: 6px;
}

.slide {
    text-align: center;
    position: relative;
}

.slide-image-wrapper {
    height: 0px;
    padding-top: 92.5333%;
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
}

.info-wrapper {
    text-align: left;
}

.next {
    position: absolute;
    left: 6px;
}

.prev::before {
    left: 0;
}

.next::before {
    right: 0;
}

.prev::before,
.next::before {
    height: 20px;
    width: 20px;
    background-color: black;
    outline: none;
    font-size: 4.5rem;
    content: '';
    position: absolute;
    display: inline-block;
    color: red;
}

.no-content {
    display: none;
}

.mobile-only {
    width: 100%;
    /*max-height: 80vw;*/
}
iframe {
    max-height: 80vw;
}

.non-mobile-block,
.no-content {
    width: 100%;
    height: 54vw;
    margin: auto;
}

.no-content {
    line-height: 508px;
}

.page-editor-mode-body .carousel,
.swipe {
    visibility: visible;
}

.no-content {
    display: block;
    min-height: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.chill-challenging {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

.chill-challenging .chill,
.chill-challenging .challenging {
    list-style: none;
}

.chill-challenging .chill-level,
.chill-challenging .challenge-level {
    content: '';
    position: absolute;
}

.chill-challenging .challenge-level {
    height: 5px;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
}

.chill-challenging .chill .chill-level {
    height: 5px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    z-index: 1;
    transition: width 300ms ease-in;
}

.chill-challenging.barely-challenging:after {
    width: 75%;
}

.chill-challenging.very-challenging:after {
    width: 90%;
}

.chill-challenging.very-chill:after {
    width: 20%;
}

.chill-challenging.pretty-chill:after {
    width: 40%;
}

.chill-challenging.most-challenging:after {
    width: 100%;
}

.chill {
    float: left;
}

.challenging {
    float: right;
}

.chill,
.challenging {
    padding: 5px;
}

.view-map {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 50px);
    width: 100px;
    height: 32px;
    background: black;
    border: none;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.territories-carousel-modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.territories-carousel-modal.open {
    display: block;
}

.territories-carousel-modal.open.fade {
    opacity: 1;
}

.territories-carousel-modal h2,
.territories-carousel-modal h3,
.territories-carousel-modal .close {
    color: white;
    text-align: center;
}

.territories-carousel-modal h2 {
    text-transform: uppercase;
}

.territories-carousel-modal .close {
    display: block;
    cursor: pointer;
    background-color: yellow;
    color: black;
}

.territories-carousel-modal .territory-modal-map,
.territories-carousel-modal .background-modal-map, {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.territories-carousel-modal .territory-modal-map {
    z-index: 1;
}

.territories-carousel-modal .image-wrapper {
    height: 0px;
    padding-top: 100%;
    position: relative;
}

.modal-info {
    display: none;
}

.slide-image-wrapper.background {
    position: absolute;
    top: 0px;
    left: 0px;
}

.slide .slide-image-wrapper .logo {
    left: 100%;
    transition: left 300ms ease-in;
}

.slide.currentPage .slide-image-wrapper .logo {
    left: 0px;
}


